@use "../../styles/partials/colors" as *;

.d-flex {
  align-items: center;
}

.whisper-icon {
  background-color: $white;
  border-radius: .3125rem;
  border: .0313rem solid $white;
  margin-right: 1.5625rem;
}

.title {
  margin-left: 1.5625rem;
}

.title:hover {
  background-color: $white;
  color: $black;
  border-radius: .3125rem;
  border-radius: .3125rem;
  border: .0313rem solid $white;
  padding: .3125rem;
  cursor: pointer;
}
.about {
  display: flex;
  align-items: center;
  margin-left: 1.5625rem;
}
