.secrets {
  margin: 30px 12px;

}

.card {
  border: 0;


  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.card-body {
  padding: 0 1rem;
  // box-shadow: 0px 0px 10px 0px rgba(246, 1, 157, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255);
  border-radius: 5%;
  background: url("../../assets/icons/smoke.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color:  white;
}

.card-text {
  color: white;
}

.card__footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.heart {
  display: flex;
  cursor: pointer;

  &__image {
    margin-right: 5px;
  }
}

.card__tag {
  border: 0.5px solid grey;
  display: inline-block;
  border-radius: 10px;
  padding: 2px 5px;
  // background-color: #023788;
  background: linear-gradient(to right, #023788, #8d949e);
  color: white;
}


