@use "../../styles/partials/colors" as *;

.secrets {
  margin: 1.875rem .75rem;

}

.card {
  border: 0;
 

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.card__body {
  padding: 0 1rem;
  box-shadow: 0rem 0rem .625rem 0rem $white;
  border-radius: 5%;
  animation: fadeIn 0.5s ease-in-out;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color:  $black;
}

.card-text {
  color: $black;
}

.card__footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  color: $black;
}

.heart {
  display: flex;
  cursor: pointer;

  &__image {
    margin-right: .3125rem;
  }
}

.card__tag {
  display: inline-block;
  border-radius: .625rem;
  padding: .125rem .3125rem;
  background-color: $card-tag-color;
  color: $white;
  font-weight: 600;
}

.card__trash {
  cursor: pointer;
}


