.secrets {
  margin: 30px 12px;
}

.card {
  border: 0;

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.card-body {
  padding: 0 1rem;
  box-shadow: 0px 0px 10px 0px rgba(107, 205, 255, 0.5);
  border-radius: 5%;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card__footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.heart {
  display: flex;
  cursor: pointer;

  &__image {
    margin-right: 5px;
  }
}
