@use "../../styles/partials/colors" as *;

.form {
  margin: 0 .75rem;
  border: .0625rem solid $card-border-color;
  padding: 1.5625rem;
  box-shadow:  $box-shadow;
  border-radius: .9375rem;
}

.form-control {
  margin-top: .625rem;
  margin-bottom: .625rem;
  box-shadow: $box-shadow;
}

.form__validation {
  color: $white;
  font-size: .75rem;
  background-color: $form-validation;
  padding: .3125rem;
  border-radius: .3125rem;
  margin-top: 1.25rem;
  width: max-content;
}

// apply flex column on screen size of below 990px
@media (max-width: 990px) {
  .d-flex {
    flex-direction: column;
  }
}


