@use "../../styles/partials/colors" as *;

.form {
  margin: 0 12px;
  border: 1px solid $card-border-color;
  padding: 25px;
  box-shadow:  $box-shadow;
  border-radius: 15px;
}

.form-control {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: $box-shadow;
}

// apply flex column on screen size of below 990px
@media (max-width: 990px) {
  .d-flex {
    flex-direction: column;
  }
}


